# The Battle of the Neighborhoods - Week 2 -  Part 2
## Part 2 Web scrapping of Population and Demographics data of New York city from Wikipedia
### POPULATION DATA

#### Web scrapping of Population data from wikipedia page - https://en.wikipedia.org/wiki/New_York_City
Download all the dependencies that is needed.

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt

# conda install -c anaconda beautiful-soup --yes
from bs4 import BeautifulSoup # package for parsing HTML and XML documents

import csv # implements classes to read and write tabular data in CSV form

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Libraries imported.

### Web scrapping of Population data from wikipedia page using BeautifulSoup.

#### Beautiful Soup is a Python package for parsing HTML and XML documents (including having malformed markup, i.e. non-closed tags, so named after tag soup). It creates a parse tree for parsed pages that can be used to extract data from HTML, which is useful for web scraping.

In [22]:
website_url = requests.get('https://en.wikipedia.org/wiki/Demographics_of_New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})
#print(soup.prettify())

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('BON2_POPULATION1.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

### Load data from csv

In [56]:
Pop_data=pd.read_csv('BON2_POPULATION1.csv')
Pop_data.drop(Pop_data.columns[[3,8,9,10,11,12,13,14]], axis=1,inplace=True)
print('Data downloaded!')

Data downloaded!

### Remove whitespaces and rename columns

In [57]:
Pop_data.columns = Pop_data.columns.str.replace(' ', '')
Pop_data.columns = Pop_data.columns.str.replace('\'','')
Pop_data.rename(columns={'Borough':'persons_sq_mi','County':'persons_sq_km'}, inplace=True)
Pop_data

,NewYorkCitysfiveboroughsvte,Jurisdiction,Population,Landarea,Density,persons_sq_mi,persons_sq_km
0,The Bronx\n,\n Bronx\n,"1,471,160\n","19,570\n",42.10\n,109.04\n,"34,653\n"
1,Brooklyn\n,\n Kings\n,"2,648,771\n","23,900\n",70.82\n,183.42\n,"37,137\n"
2,Manhattan\n,\n New York\n,"1,664,727\n","378,250\n",22.83\n,59.13\n,"72,033\n"
3,Queens\n,\n Queens\n,"2,358,582\n","31,310\n",108.53\n,281.09\n,"21,460\n"
4,Staten Island\n,\n Richmond\n,"479,458\n","23,460\n",58.37\n,151.18\n,"8,112\n"
5,City of New York,"8,622,698",806.863,302.64,783.83,"28,188","10,947\n"
6,State of New York,"19,849,399","1,547.116","47,214","122,284",416.4,159\n
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
Pop_data.rename(columns = {'NewYorkCitysfiveboroughsvte\n' : 'Borough',
                   'Jurisdiction\n':'County',
                   'Population\n':'Estimate_2017', 
                   'Landarea\n':'square_miles',
                    'Density\n':'square_km'}, inplace=True)
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx\n,\n Bronx\n,"1,471,160\n","19,570\n",42.10\n,109.04\n,"34,653\n"
1,Brooklyn\n,\n Kings\n,"2,648,771\n","23,900\n",70.82\n,183.42\n,"37,137\n"
2,Manhattan\n,\n New York\n,"1,664,727\n","378,250\n",22.83\n,59.13\n,"72,033\n"
3,Queens\n,\n Queens\n,"2,358,582\n","31,310\n",108.53\n,281.09\n,"21,460\n"
4,Staten Island\n,\n Richmond\n,"479,458\n","23,460\n",58.37\n,151.18\n,"8,112\n"
5,City of New York,"8,622,698",806.863,302.64,783.83,"28,188","10,947\n"
6,State of New York,"19,849,399","1,547.116","47,214","122,284",416.4,159\n
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN

### Replace newline('\n') from each string from left and right sides

In [60]:
Pop_data['Borough']=Pop_data['Borough'].replace(to_replace='\n', value='', regex=True)
Pop_data['County']=Pop_data['County'].replace(to_replace='\n', value='', regex=True)
Pop_data['Estimate_2017']=Pop_data['Estimate_2017'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_miles']=Pop_data['square_miles'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_km']=Pop_data['square_km'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_mi']=Pop_data['persons_sq_mi'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_km']=Pop_data['persons_sq_km'].replace(to_replace='\n', value='', regex=True)
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,471,160","19,570",42.10,109.04,"34,653"
1,Brooklyn,Kings,"2,648,771","23,900",70.82,183.42,"37,137"
2,Manhattan,New York,"1,664,727","378,250",22.83,59.13,"72,033"
3,Queens,Queens,"2,358,582","31,310",108.53,281.09,"21,460"
4,Staten Island,Richmond,"479,458","23,460",58.37,151.18,"8,112"
5,City of New York,"8,622,698",806.863,302.64,783.83,"28,188","10,947"
6,State of New York,"19,849,399","1,547.116","47,214","122,284",416.4,159
7,Sources:[14] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN

### Shift data in the last two rows

In [61]:
Pop_data.loc[5:,['persons_sq_mi','persons_sq_km']] = Pop_data.loc[2:,['persons_sq_mi','persons_sq_km']].shift(1,axis=1)
Pop_data.loc[5:,['square_km','persons_sq_mi']] = Pop_data.loc[2:,['square_km','persons_sq_mi']].shift(1,axis=1)
Pop_data.loc[5:,['square_miles','square_km']] = Pop_data.loc[2:,['square_miles','square_km']].shift(1,axis=1)
Pop_data.loc[5:,['Estimate_2017','square_miles']] = Pop_data.loc[2:,['Estimate_2017','square_miles']].shift(1,axis=1)
Pop_data.loc[5:,['County','Estimate_2017']] = Pop_data.loc[2:,['County','Estimate_2017']].shift(1,axis=1)
Pop_data.loc[5:,['Borough','County']] = Pop_data.loc[2:,['Borough','County']].shift(1,axis=1)
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,471,160","19,570",42.10,109.04,"34,653"
1,Brooklyn,Kings,"2,648,771","23,900",70.82,183.42,"37,137"
2,Manhattan,New York,"1,664,727","378,250",22.83,59.13,"72,033"
3,Queens,Queens,"2,358,582","31,310",108.53,281.09,"21,460"
4,Staten Island,Richmond,"479,458","23,460",58.37,151.18,"8,112"
5,NaN,City of New York,"8,622,698",806.863,302.64,783.83,"28,188"
6,NaN,State of New York,"19,849,399","1,547.116","47,214","122,284",416.4
7,NaN,Sources:[14] and see individual borough articles,NaN,NaN,NaN,NaN,NaN

### Remove NAN

In [62]:
Pop_data = Pop_data.fillna('')
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,471,160","19,570",42.10,109.04,"34,653"
1,Brooklyn,Kings,"2,648,771","23,900",70.82,183.42,"37,137"
2,Manhattan,New York,"1,664,727","378,250",22.83,59.13,"72,033"
3,Queens,Queens,"2,358,582","31,310",108.53,281.09,"21,460"
4,Staten Island,Richmond,"479,458","23,460",58.37,151.18,"8,112"
5,,City of New York,"8,622,698",806.863,302.64,783.83,"28,188"
6,,State of New York,"19,849,399","1,547.116","47,214","122,284",416.4
7,,Sources:[14] and see individual borough articles,,,,,

### Drop the last row

In [65]:
i = Pop_data[((Pop_data.County == 'Sources:[14] and see individual borough articles'))].index
Pop_data.drop(i)

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,471,160","19,570",42.10,109.04,"34,653"
1,Brooklyn,Kings,"2,648,771","23,900",70.82,183.42,"37,137"
2,Manhattan,New York,"1,664,727","378,250",22.83,59.13,"72,033"
3,Queens,Queens,"2,358,582","31,310",108.53,281.09,"21,460"
4,Staten Island,Richmond,"479,458","23,460",58.37,151.18,"8,112"
5,,City of New York,"8,622,698",806.863,302.64,783.83,"28,188"
6,,State of New York,"19,849,399","1,547.116","47,214","122,284",416.4

### Save dataframe as csv file

In [66]:
Pop_data.to_csv('BON2_POPULATION.csv',index=False)